In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer, make_column_selector

In [2]:
iris = pd.read_csv("iris.csv")
iris['test'] = "a"
iris['test2'] = "b"
iris

,sepallength,sepalwidth,petallength,petalwidth,class,test,test2
0,5.1,3.5,1.4,0.2,Iris-setosa,a,b
1,4.9,3.0,1.4,0.2,Iris-setosa,a,b
2,4.7,3.2,1.3,0.2,Iris-setosa,a,b
3,4.6,3.1,1.5,0.2,Iris-setosa,a,b
4,5.0,3.6,1.4,0.2,Iris-setosa,a,b
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,a,b
146,6.3,2.5,5.0,1.9,Iris-virginica,a,b
147,6.5,3.0,5.2,2.0,Iris-virginica,a,b
148,6.2,3.4,5.4,2.3,Iris-virginica,a,b
149,5.9,3.0,5.1,1.8,Iris-virginica,a,b

In [3]:
numerical_features = make_column_selector(dtype_include=np.number)
categorical_features = make_column_selector(dtype_exclude=np.number)

preprocessor = make_column_transformer((StandardScaler(), numerical_features),
                        (OneHotEncoder(), categorical_features))


preprocessor

ColumnTransformer(transformers=[('standardscaler', StandardScaler(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x0000021A9EB87AF0>),
                                ('onehotencoder', OneHotEncoder(),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x0000021A9EB86AA0>)])

In [4]:
X = iris.drop(['class'], axis=1)
Y = iris['class']
preprocessor.fit_transform(iris)

iris_preprocessing = pd.DataFrame()

iris_preprocessing[preprocessor.get_feature_names_out()] = preprocessor.fit_transform(X)

iris_preprocessing

,standardscaler__sepallength,standardscaler__sepalwidth,standardscaler__petallength,standardscaler__petalwidth,onehotencoder__test_a,onehotencoder__test2_b
0,-0.900681,1.032057,-1.341272,-1.312977,1.0,1.0
1,-1.143017,-0.124958,-1.341272,-1.312977,1.0,1.0
2,-1.385353,0.337848,-1.398138,-1.312977,1.0,1.0
3,-1.506521,0.106445,-1.284407,-1.312977,1.0,1.0
4,-1.021849,1.263460,-1.341272,-1.312977,1.0,1.0
...,...,...,...,...,...,...
145,1.038005,-0.124958,0.819624,1.447956,1.0,1.0
146,0.553333,-1.281972,0.705893,0.922064,1.0,1.0
147,0.795669,-0.124958,0.819624,1.053537,1.0,1.0
148,0.432165,0.800654,0.933356,1.447956,1.0,1.0
149,0.068662,-0.124958,0.762759,0.790591,1.0,1.0

In [5]:
X_train, X_test, y_train, y_test = train_test_split(iris_preprocessing,
                                                    Y,
                                                    test_size=0.33,
                                                    random_state=0,
                                                    stratify=iris["test"]) 
X_train = preprocessor.fit_transform(X_train)